body {
    margin: 0;
    font-family: "Times New Roman", serif;
    background: #ffffff;
}

.header {
    text-align: center;
    background: #eeeeee;
    padding: 15px 0;
}

.header h2,
.header h1,
.header h4 {
    margin: 0;
}

.header h1 {
    font-size: 30px;
}

.layout {
    display: flex;
    min-height: 410px;
}

.sidebar {
    width: 155px;
    background: #eaffea;
    padding: 20px 15px;
}

.sidebar h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
}

.sidebar a {
    display: block;
    width: 85px;
    margin: 0 auto 15px auto;
    padding: 2px;
    text-align: center;
    background: #d9d9d9;
    color: #a34aa3;
    text-decoration: underline;
    border-left: 5px solid #4b8b2f;
    border-right: 5px solid #4b8b2f;
}

.content {
    flex: 1;
    padding: 15px 30px;
}

.topmenu {
    width: 380px;
    margin: 0 auto 45px auto;
    background: #d9d9d9;
    padding: 8px 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 6px 15px #aaa;
}

.topmenu a {
    margin: 0 10px;
    color: #666;
    text-decoration: none;
}

.judul-form {
    text-align: center;
    margin-bottom: 15px;
}

.form-nilai {
    width: 410px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.row label {
    width: 145px;
    text-align: right;
    margin-right: 5px;
}

input {
    height: 18px;
    border: 1px solid #aaa;
}

button {
    height: 22px;
    margin-left: 3px;
}

.input-small {
    width: 105px;
}

.input-long {
    width: 200px;
}

.input-mini {
    width: 20px;
}

.input-nilai {
    width: 45px;
}

.tombol {
    justify-content: center;
    margin-top: 8px;
}

.tombol button {
    width: 90px;
}